*{
    width: 100%;
    letter-spacing: 0.5px;
    margin: 0;
    font-family: sans-serif,"Inter";
    color: #333333;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --left-color:  #333333;
    --right-color:  #333333;
    --form-height: 600px;
    --form-width: 1200px;
}
  

.container{
    width: var(--form-width);
    height: var(--form-height);
    position: relative;
    margin: auto;
    box-shadow: 2px 10px 40px rgba(168, 127, 243, 0.4);
    border-radius: 10px;
    margin-top: 40px;
}

.logo{
    position: relative;
    z-index: 2;
    display: block;;
    margin-bottom: 0;
    margin-left: 13px;
}

.logo .logo-name{
    font-size: 36px;
    font-weight: 900;
    letter-spacing: -3px;
    font-style: italic;
}

.logo .logo-des{
    margin-top: -8px;
    color: #4F4F4F;
    font-size: 8px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.overlay{
    margin-top: -52px;
    width: 100%; 
    height: 100%;
    position: absolute;
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    border-radius: 10px;
    color: #F3F5FA;
    clip: rect(0, 400px, var(--form-height), 0);
}

.open-daftar{
    animation: slideleft 1s linear forwards;
}

.open-login{
    animation: slideright 1s linear forwards;
}
.overlay .login, .overlay .daftar{
    --padding: 10px;
    width: calc(400px - var(--padding) * 2);
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    text-align: center;
}
.overlay .login{
    float: left;
}

.overlay-text-left-animation{
    animation: text-slide-in-left 1s linear;
}
.overlay-text-left-animation-out{
    animation: text-slide-out-left 1s linear;
}

.overlay .daftar{
  float:right;
}

.overlay-text-right-animation{
    animation: text-slide-in-right 1s linear;
}

.overlay-text-right-animation-out{
    animation: text-slide-out-right 1s linear;
}


.overlay .welcome{
  margin: 0px 10px;
  font-size: 30px;
  font-weight: 900;
  color: antiquewhite;
}

.overlay p{
  margin: 20px 0px 50px;
  font-weight: 200;
  color: aliceblue;
}

.switch-button, .control-button{
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  height: 40px;
  font-size: 14px;
  text-transform: uppercase;
  background: none;
  border-radius: 20px;
  color: white;
}

.switch-button{
  border: 2px solid;
}

.control-button{
  border: none;
  margin-top: 15px;
}

.switch-button:focus, .control-button:focus{
  outline:none;
}

.control-button.up{
  background-color: var(--left-color);
}

.control-button.in{
  background-color: var(--right-color);
}

.form{
    width: 100%; 
    height: 100%;
    position: absolute;
    border-radius: 10px;
}
.form .login-form, .form .daftar-form{
    --padding: 50px;
    position: absolute;
    width: calc(var(--form-width) - 400px - var(--padding) * 2);
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px var(--padding);
    text-align: center;
}
.form .login-form{
    display: none;
}
  
.form .login-form{
    left:0;
}
  
.form .daftar-form{
    right: 0;
}
  
.form-left-slide-in{
    animation: form-slide-in-left 1s;
}
  
.form-left-slide-out{
    animation: form-slide-out-left 1s;
}
  
.form .login-form h1{
    color: var(--right-color);
    margin: 0;
}
  
.form .daftar-form h1{
    color: var(--left-color);
    margin: 0;
}
  
  
#login-info input, #daftar-info input{
    margin: 12px;
    font-size: 14px;
    padding: 15px;
    width: 260px;
    font-weight: 300;
    border: none;
    background-color: #e4e4e494;
    font-family: 'inter', sans-serif;
    letter-spacing: 1.5px;
    padding-left: 20px;
}
  
#login-info input::placeholder{
    letter-spacing: 1px;
}
  
.lupa-kata-sandi{
    margin-left: 80px;
    font-size: 12px;
    display: inline-block;
    padding-bottom: 3px;
}
  
.lupa-kata-sandi:hover{
    cursor: pointer;
}
  

@keyframes slideright{
    0%{
      clip: rect(0, 385px, var(--form-height), 0);
    }
    30%{
          clip: rect(0, 480px, var(--form-height), 0);
    }
    50%{
       clip: rect(0px, calc(var(--form-width) / 2 + 480px / 2), var(--form-height), calc(var(--form-width) / 2 - 480px / 2));
    }
    80%{
           clip: rect(0px, var(--form-width), var(--form-height), calc(var(--form-width) - 480px));
    }
    100%{
       clip: rect(0px, var(--form-width), var(--form-height), calc(var(--form-width) - 385px));
    }
}
  
@keyframes slideleft{
    100%{
      clip: rect(0, 385px, var(--form-height), 0);
    }
    70%{
          clip: rect(0, 480px, var(--form-height), 0);
    }
    50%{
       clip: rect(0px, calc(var(--form-width) / 2 + 480px / 2), var(--form-height), calc(var(--form-width) / 2 - 480px / 2));
    }
    30%{
           clip: rect(0px, var(--form-width), var(--form-height), calc(var(--form-width) - 480px));
    }
    0%{
       clip: rect(0px, var(--form-width), var(--form-height), calc(var(--form-width) - 400px));
    }
}
  
@keyframes text-slide-in-left{
    0% {
      padding-left: 20px;
    }
    100% {
      padding-left: 50px;
    }
  }
  
  @keyframes text-slide-in-right{
    0% {
      padding-right: 20px;
    }
    100% {
      padding-right: 50px;
    }
}
  
@keyframes text-slide-out-left{
    0% {
      padding-left: 50px;
    }
    100% {
      padding-left: 20px;
    }
}
  
@keyframes text-slide-out-right{
    0% {
      padding-right: 50px;
    }
    100% {
      padding-right: 20px;
    }
}
  
@keyframes form-slide-in-right{
    0%{
      padding-right: 100px;
    }
    100%{
      padding-right: 50px;
    }
}
  
@keyframes form-slide-in-left{
    0%{
      padding-left: 100px;
    }
    100%{
      padding-left: 50px;
    }
}
  
@keyframes form-slide-out-right{
    0%{
      padding-right: 50px;
    }
    100%{
      padding-right: 80px;
    }
}
  
@keyframes form-slide-out-left{
    0%{
      padding-left: 50px;
    }
    100%{
      padding-left: 80px;
    }
}